<%- include("../partials/header.ejs") %>

<main class="page blog-post-list">
  <section class="clean-block clean-blog-list dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Blog Post List</h2>
        <p>
          See us in action, celebrating, suffering or having fun.<br /><br />
        </p>
      </div>
      <% if(blogs) {%>
      <div class="block-content">
        <% blogs.forEach((blog, blogs) => { %>
        <div class="clean-blog-post">
          <div class="row">
            <div class="col-lg-5">
              <img class="rounded img-fluid" src="<%= blog.image %>" />
            </div>
            <div class="col-lg-7">
              <h3><%= blog.title %></h3>
              <div class="info">
                <span class="text-muted"
                  ><%= blog.created.toDateString() %> by&nbsp;<a href="#"
                    ><%= blog.posted_by %></a
                  ></span
                >
              </div>
              <p><%- blog.body.substring(0,200) %>...</p>
              <a class="action" href="/blogs/<%=blog.id%>">
                <button class="btn btn-outline-primary btn-sm" type="button">
                  Read More
                </button>
              </a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% } %> 
    </div>
  </section>
</main>

<%- include("../partials/footer.ejs") %>
