<%- include('../partials/html-top.ejs') %> <%- include('../partials/nav.ejs') %>

<script src="https://cdn.tiny.cloud/1/<%-tiny_api%>/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>

<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <form method="POST">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input is-medium" type="username" name="title" placeholder="Blog Title"
                                    value="<%= blog[0].title%>">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="column is-12">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input is-medium" type="email" name="subtitle" placeholder="Subtitle"
                                    value="<%= blog[0].subtitle%>">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="column is-12">
                            <p class="control has-icons-left has-icons-right">
                                <textarea class="textarea" rows="10"><%- blog[0].body%></textarea>
                            </p>
                        </div>
                        <div class="column is-12">
                            <div class="file has-name is-fullwidth is-primary">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="image">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a header image
                                        </span>
                                    </span>
                                    <span class="file-name">
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="column is-12">
                            <p class="control">
                                <button class="button is-warning" type="submit">
                                    Edit
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer.ejs') %>