<%- include('../partials/html-top.ejs') %> <%- include('../partials/nav.ejs') %>
<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-1">Admin Panel</h1>
            <h3 class="is-size-3">Welcome <%= currentUser.username %>,</h3>
            <h4 class="is-size-6">be carefull, actions are irreversible!</h4>
        </div>
    </div>
    <div class="hero-foot">
        <div class="buttons">
            <div class="container mb-5">
                <a href="/blogs/new">
                    <button class="button is-success is-medium">New Blog&ensp;<i
                                class="far fa-plus-square"></i></button>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <% if(blogs) { %> <% blogs.forEach((blog, blogs) => { %>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img src="<%= blog.image %>">
                            </p>
                        </figure>
                        <div class="media-content">
                            <nav class="level">
                                <div class="content level-right">
                                    <p>
                                        <a href="/blogs/<%= blog.id %>"><strong><%= blog.title %></strong></a>
                                        <br>
                                        <small>Created: </small>
                                        <small>@<%= blog.posted_by %></small> on
                                        <small><%= blog.created.toDateString() %></small>
                                        <br>
                                        <small>Edited: </small>
                                        <small>@<%= blog.edited_by %></small> on
                                        <small><%= blog.edited.toDateString() %></small>
                                    </p>
                                </div>
                                <div class="level-left">
                                    <a class="level-item" href="/blogs/<%= blog.id %>/edit">
                                        <button class="button is-warning">Edit&ensp;<i class="fas fa-hammer"></i>
                                        </button>
                                    </a>
                                    <form class="level-item" action="/blogs/<%= blog.id %>?_method=DELETE"
                                          method="POST">
                                        <button class="button is-danger">Delete&ensp;<i class="fas fa-skull"></i>
                                        </button>
                                    </form>
                                </div>
                            </nav>
                        </div>
                    </article>
                <% }) %>
                <% } %>
            </div>
            <div class="column is-one-fifths"></div>
            <div class="column is-one-fifths">
                <article class="panel is-info">
                    <p class="panel-heading">
                        Stats
                    </p>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book has-text-info" aria-hidden="true"></i>
                        </span>
                        Total Posts: <%= blogs.length %>
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book has-text-info" aria-hidden="true"></i>
                        </span>
                        Total Users: <%= users.length %>
                    </a>
                </article>
            </div>
        </div>
    </div>
    </div>
</section>

<%- include('../partials/footer.ejs') %>
