<%- include('partials/html-top.ejs') %> <%- include('partials/nav.ejs') %>

<section class="hero is-large is-default is-bold mb-6">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <% if(blogs) {%> <% blogs.forEach((blog, blogs) => { %>
                <div class="column">
                    <figure class="image is-fullwidth">
                        <img class="rounded" src="<%=blog.image %>" alt="" />
                    </figure>
                </div>
                <div class="column is-5 is-offset-1 landing-caption">
                    <div class="level is-hidden-touch ">
                        <div class="level-left">
                            <div class="level-item">
                                <span class="icon has-text-primary">
                                    <i class="far fa-2x fa-newspaper"></i>
                                </span>
                            </div>
                            <span class="level-item">Latest blog!</span>
                        </div>
                    </div>
                    <h1 class="is-size-1"><%= blog.title %></h1>
                    <p class="is-size-4"><%= blog.subtitle %></p>
                    <a href="/blogs/<%=blog.id%>">
                        <button class="button is-rounded is-primary mt-2">Read</button>
                    </a>
                </div>
                <% }) %> <% } %>
            </div>
        </div>
    </div>

    <div class="hero-foot mb-20">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li>
                        <a><img class="partner-logo" src="/images/sponsors_b&w/alpescapital_logo.png    " /></a>
                    </li>
                    <li>
                        <a><img class="partner-logo" src="/images/sponsors_b&w/cookworld_logo.png" /></a>
                    </li>
                    <li>
                        <a><img class="partner-logo" src="/images/sponsors_b&w/drugstore_logo.png" /></a>
                    </li>
                    <li>
                        <a><img class="partner-logo" src="/images/sponsors_b&w/fgi_logo.png" /></a>
                    </li>
                    <li>
                        <a><img class="partner-logo" src="/images/sponsors_b&w/physiogold_logo.png" /></a>
                    </li>
                    <li>
                        <a><img class="partner-logo" src="/images/sponsors_b&w/whitebox_logo.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium" id="about-us">
    <div class="container">
        <h1 class="title has-text-light">About us</h1>
        <h2 class="subtitle has-text-light">
            Racing is our <strong class="has-text-light">passion</strong>,
        </h2>
        <p class="subtitle is-4 has-text-light">
            Alfa cycling is an amateur team with professional dedication and approach
            to the sport. Consistent of 105 athletes across all categories, from Elite
            Men to Masters,from road racing, triathlon, to mountain biking,we try to
            participate in as many races as possible both in Greece and abroad.<br />Goal
            of the team is to provide athletes with opportunities to develop as
            riders, while having fun at the same time.
        </p>
        <p class="subtitle is-4 has-text-light">
            Despite our young history, -the team was founded in 2013- we push the
            boundaries every year, trying to incorporate new challenges, be it harder
            races on the domestic calendar or new challenges abroad, mixing it with
            the professional teams.&nbsp;
        </p>
        <p class="subtitle is-4 has-text-light">
            Sponsor representation comes natural as we force alliances with companies
            which trust our process and team ethics. If you find our project
            interesting why not join the fun?<br />
        </p>
    </div>

    <div class="container mt-6">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/images/about_us/about1.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/images/about_us/about2.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img cla src="/images/about_us/about3.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-large" id="sponsors">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">Our Sponsors</h2>
            <h3 class="subtitle is-5 is-muted">The people behind our effort</h3>
            <div class="divider is-centered"></div>
        </div>
    </div>


    <div class="container">
        <div class="columns level">
            <div class="column is-one-third">
                <div class="card feature">
                    <header class="card-header">
                        <p class="card-header-title">
                            Alpës Capital
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="card-image is-flex">
                            <figure class="image is-128x128">
                                <img src="/images/sponsors/alpescapital_logo.svg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            Alpës Capital is a multi-family office in Switzerland serving families
                            with unbiased and independent advice to maintain and grow their wealth.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item has-text-primary">Visit</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card feature">
                    <header class="card-header">
                        <p class="card-header-title">
                            Drug Store
                        </p>
                    </header>

                    <div class="card-content">
                        <div class="card-image is-flex">
                            <figure class="image is-flex is-128x128">
                                <img class="is-vcentered" src="/images/sponsors/drugstore_logo.svg"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            Drug-store.gr is an online e-shop for the physical pharmacy of Christos Pontikis at
                            kalamata.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item has-text-primary">Visit</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card feature">
                    <header class="card-header">
                        <p class="card-header-title">
                            Fairway Global Investment
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="card-image is-flex">
                            <figure class="image is-flex is-128x128">
                                <img class="is-vcentered" src="/images/sponsors/fgi_logo.svg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            Fairway Global Investment is an independent Swiss Asset Manager and Multi
                            Family Office based in Zurich.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item has-text-primary">Visit</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="columns level">
            <div class="column is-one-third">
                <div class="card feature">
                    <header class="card-header">
                        <p class="card-header-title">
                            Cook World
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="card-image is-flex">
                            <figure class="image is-flex is-128x128">
                                <img class="is-vcentered" src="/images/sponsors/cookworld_logo.svg"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            An online marketplace with cookware products for all kind of tastes.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item has-text-primary">Visit</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card feature">
                    <header class="card-header">
                        <p class="card-header-title">
                            Petrolko </p>
                    </header>
                    <div class="card-content">
                        <div class="card-image is-flex">
                            <figure class="image is-flex is-128x128">
                                <img class="is-vcentered" src="/images/sponsors/petrolko_logo.svg"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            Petrolko manages buildings from 1978.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item has-text-primary">Visit</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card feature">
                    <header class="card-header">
                        <p class="card-header-title">
                            White Box Crossfit
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="card-image is-flex">
                            <figure class="image is-flex is-128x128">
                                <img class="is-vcentered" src="/images/sponsors/whitebox_logo.svg"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content">
                            White Box is a crossift lab based in palaio faliro, Athens.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item has-text-primary">Visit</a>
                    </footer>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="expo" class="section is-medium">
    <div class="container">
        <h1 class="title has-text-light">Join us</h1>
    </div>
    <div class="container mt-6">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/images/landing_carousel/carousel1.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="/images/landing_carousel/carousel2.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img cla src="/images/landing_carousel/carousel3.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-us" class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">Drop us a line or two </h2>
            <h3 class="subtitle is-5 is-muted">We will get back to You asap</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <form method="post">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <input class="input is-medium" type="text" placeholder="Name *" name="name">
                            </div>
                            <div class="column is-6">
                                <input class="input is-medium" type="text" placeholder="Email *" name="email">
                            </div>
                            <div class="column is-12">
                                <input class="input is-medium" type="text" placeholder="Subject *" name="subject">
                            </div>
                            <div class="column is-12">
                                <textarea class="textarea" rows="6" placeholder="Message" name="message"></textarea>
                            </div>
                            <div class="column is-12">
                                <div class="form-footer has-text-right mt-10">
                                    <button class="button cta is-large primary-btn form-button raised is-clear">Send
                                        Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>